.edit-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 16px;
}

.edit-profile__container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.edit-profile__avatar {
    width: 48px;
}

.edit-profile__username {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: bold;
}

.edit-profile__edit-icon {
    width: 32px;
    vertical-align: middle;
}

.edit-profile__selector-container {
    padding-top: 10px;
    height: auto;
    overflow-y: auto;
}

.edit-profile__selector-grid {
    display: grid;
    grid-template-rows: repeat(5, 55px);
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
}

.edit-profile__selector-grid-item {
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    cursor: pointer;
    padding: 5px;
    width: 55px;
}

.edit-profile__selector-grid-item:hover,
.edit-profile__selector-grid-item--selected {
    background-color: rgba(0, 0, 0, 0.1);
}
