.popup {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: auto;
}

.popup__content {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #23629d;
    width: 50%;
    //max-height: 95vh;
    animation-duration: 0.4s;

    max-width: 30rem;
}

.popup__header {
    position: relative;
    border-radius: 8px 8px 0 0;
    background-color: #307ec6;
    padding: 16px;
    text-align: center;
    color: #fff;
}

.popup__heading {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
}

.popup__close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 8px;
    cursor: pointer;
    padding: 8px;
    width: 40px;
    right: 0;
}

.popup__body {
    display: flex;
    padding: 16px;
    overflow-y: auto;
    color: #fff;
    flex-direction: column;
    max-height: none;
}

.popup__footer {
    display: none;
    justify-content: space-around;
    padding: 16px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

