.board-viewport {
    font-size: 15px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #0967a6;
    z-index: 0;
}

.tile {
    text-align: center;
    position: absolute;
    display: inline-block;
    z-index: 1;
    height: 10em;
    aspect-ratio: cos(30deg);
}

.tile__hitbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
    z-index: 2;
}

.tile__background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    touch-action: none;
}

.tile__background-image--faded {
    filter: brightness(0.5);
}

.tile__probability-image {
    z-index: 1;
    width: 3em;
    height: 3em;
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: auto;
}
