#board-viewport {
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    line-height: 1.42857143;
}

.brick-color {
    background-color: #945d3f;
}

.wood-color {
    background-color: #408754;
}

.wheat-color {
    background-color: #eac932;
}

.ore-color {
    background-color: #a1afda;
}

.sheep-color {
    background-color: #83b94e;
}

.desert-color {
    background-color: #c5ba96;
}

.sea-color {
    background-color: #0967a6;
}

.wildcard-color {
    background-color: #ffffff;
}

.hexagon-wrapper {
    text-align: center;
    position: absolute;
    display: inline-block;
    z-index: 1;
}

.hexagon {
    height: 100%;
    width: 57.735%;
    display: inline-block;
    z-index: 1;
}

.hexagon:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: "";
    transform: rotateZ(60deg);
    z-index: 1;
}

.hexagon:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: "";
    transform: rotateZ(-60deg);
    z-index: 1;
}

.hexagon,
.hexagon:before,
.hexagon:after {
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
}

.number-circle {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.number-circle-color {
    background-color: #faedda;
}

.number-circle-highlighted {
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 0, 0.5);
    cursor: pointer;
}

.red-number {
    color: #d35443;
}

.dots-container {
    display: inline-block;
}

.number-dot {
    height: 10px;
    width: 10px;
    float: left;
    margin-left: 2px;
    background-color: black;
}

.red-number-dot {
    background-color: #d35443;
}

.desert-circle {
    background-color: transparent;
    box-shadow: none;
}

.sea-circle {
    box-shadow: none;
}

.robber-icon {
    width: 85%;
    height: 85%;
    display: inline-block;
    vertical-align: middle;
}

.port-icon {
    width: 100%;
    height: 100%;
    margin-top: 2.9px;
}

.port-circle {
    position: absolute;
    border: solid 1px black;
    width: 50px;
    height: 50px;
    z-index: 0;
}

.intersection {
    position: absolute;
    z-index: 4;
}

.settlement-icon {
    stroke: black;
    stroke-width: 0.5px;
    position: absolute;
}

.city-icon {
    stroke: black;
    stroke-width: 3px;
    position: absolute;
}

.intersection-select {
    background-color: transparent;
    position: absolute;
    z-index: 7;
}

.path {
    position: absolute;
    border-radius: 5px;
    /*border-left: 1px solid black;*/
    /*border-right: 1px solid black;*/
    z-index: 0;
}

.path-select {
    position: absolute;
    border: radius 5px;
    z-index: 2;
}

.highlighted {
    /*	animation-duration: 1s;
	animation-name: highlight-pulse;
	animation-direction: alternate;
	animation-iteration-count: infinite;*/
    background: radial-gradient(closest-side, rgba(255, 255, 0, 1), rgba(255, 255, 0, 0.5) 65%, rgba(255, 255, 255, 0) 100%);
    cursor: pointer;
}

.highlighted-path {
    /*background: rgba(255,255,0,0.75);*/
    background: linear-gradient(to bottom, rgba(255, 255, 0, 0), rgba(255, 255, 0, 1) 40%, rgba(255, 255, 0, 1) 60%, rgba(255, 255, 0, 0) 100%);
    cursor: pointer;
}

/*@keyframes highlight-pulse {
	0% {
		background: rgba(255,255,0,0.75);
	}

	100% {
		background: none;
	}
}*/

/* Other */

.circle {
    border-radius: 50%;
}
