body {
    margin: 0;
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #a1afda;
    color: #333;
    font-size: 15px;

    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.main-wrapper {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    width: 1222px;
    height: 100dvh;
    padding: 4px;

    display: grid;
    gap: 0.25em;
    padding: 0.15em;
    height: 100%;
    font-size: 19px;

    grid-template-columns: [start] auto [help-buttons-end] 1fr [game-feeds] 19em [end];
    grid-template-rows: [start] 1fr [game-feeds-end] auto [bank-end] 21.25em [end];
    background-color: #177fde;
}

.game-board__top-left {
    display: grid;
    grid-template-rows: [start] min-content [middle] 1fr [end];
    grid-template-columns: [start] auto [middle] auto [end];
    grid-row: start / end;
    grid-column: start / help-buttons-end;
}

.game-board__bottom {
    display: flex;
    grid-row: game-feeds-end / end;
    grid-column: start / game-feeds;
    align-items: flex-end;
    z-index: 1;
}

.game-inventory {
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto;
    gap: 0.25em;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.game-inventory__container {
    display: flex;
    position: relative;
    gap: 0.15em;
    align-items: flex-end;
    user-select: none;
    margin-right: -4.75em;
    padding-right: 4.75em;
    overflow: hidden;
}

.game-inventory__trade-creator {
    display: flex;
    flex-direction: column;
    gap: 0.15em;
    width: 100%;
}

.game-inventory__trade-creator-container {
    border-radius: 0.25em;
    background: linear-gradient(180deg, #fcfaf5, #e2d7c4);
    padding: 0.5em;
    pointer-events: all;
}

.game-inventory__card-inventory {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 3.5em;
    --outer-gap: 0.1px;
}

.game-inventory__card-stack {
    --card-width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;

    flex: 0 0 auto;
    align-self: flex-start;
    width: max-content;
    min-width: 0;
    overflow: visible;
    contain: layout;

    margin-left: 0;

    --gap: -38.293611793611795px;
    z-index: 1;
}

.game-inventory__card-wrapper {
    --offset: calc((var(--card-width) + var(--gap)) * var(--index, 0));
    position: relative;
    height: fit-content;
}

.game-inventory__card-wrapper + .game-inventory__card-wrapper {
    margin-left: calc(var(--gap));
}

.game-inventory__card-container {
    position: relative;
    user-select: none;

    width: 2.5110565111em;
    height: 3.5em;
    cursor: pointer;
}

.game-inventory__count-container {
    background-color: rgb(0, 114, 188);

    display: inline-block;
    border-top-left-radius: 0.1em;
    border-bottom-left-radius: 1.25em;
    border-bottom-right-radius: 0.1em;
    min-width: 1.25em;
    height: 1.25em;

    position: absolute;
    top: 0;
    right: 1px;
}

.game-inventory__count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.1em 0.1em 0.2em;
    height: 100%;
    text-shadow:
        -0.5px -0.5px 1px #073158,
        0.5px -0.5px 1px #073158,
        -0.5px 0.5px 1px #073158,
        0.5px 0.5px 1px #073158;
    color: #fff;
    font-size: 0.875em;
    font-weight: 600;
}

.game-inventory__card-image {
    display: block;
    width: 100%;
    height: 100%;
}

.game-inventory__separator {
    flex: 0 0 2px;
    align-self: center;
    margin: 0.2em;
    background: rgba(102, 102, 102, 0.3);
    height: 3em;
}

.game-inventory__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.options-menu {
    grid-row: start / middle;
    grid-column: start / middle;
}

.options-menu__container {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    padding: 0.5em;
    pointer-events: all;

    position: relative;
    z-index: 5;
}

.options-menu__button {
    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 0;
    width: fit-content;
}

.game-board__trade-popup {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 350px;
}

.game-controls {
    display: flex;
    background-color: black;
    width: 362px;
    height: 100dvh;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
}

.game-controls__log {
    display: flex;
    height: 250px;
    width: 100%;
}

.game-controls__log-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
    scrollbar-width: thin;
}

.game-controls__log-scroller {
    position: relative;
    height: 100%;
}

.game-controls__log-item {
    padding-bottom: 0.25em;
    width: 100%;
    line-height: 1.5;
}

.game-feed-message__container {
    border-radius: 0.25em;
    padding: 0 0.5em;
    word-break: break-word;
    // Check below ??
    opacity: 1;
}

.game-feed-message__container--centered {
    text-align: center;
}

.game-feed-message__icon {
    display: inline-block;
    margin-right: 0.15em;
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
}

.game-feed-message__image {
    padding: 0;
    width: 100%;
    height: 100%;
    vertical-align: baseline;
    object-fit: cover;
}

.game-feed-message__content-image {
    width: auto;
    max-width: 1.25em;
    height: 1.25em;
    vertical-align: sub;
    object-fit: contain;
}

.game-feed-message__content--bold {
    font-weight: 600;
    word-break: break-all;
}

.game-feed-message__content--red {
    color: #e27174;
}

.game-feed-message__content--blue {
    color: #223697;
}

.game-feed-message__content--green {
    color: #62b95d;
}

.game-feed-message__content--orange {
    color: #e09742;
}
.game-controls__chat {
    display: flex;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}

.game-controls__bank {
    display: flex;
    position: relative;
    gap: 7px;
    justify-content: space-between;
    width: 100%;
    user-select: none;
}

.game-controls__bank-row {
    display: flex;
    gap: 6px;
    align-items: flex-end;
    justify-content: center;
}

.game-controls__bank-icon {
    align-self: center;
    width: 42px;
    height: 42px;
}

.game-controls__card-stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: fit-content;
    height: 70px;
}

.game-controls__card-container {
    width: 41px;
    height: 57px;
    position: relative;
    margin-top: -51px;
}

.game-controls__card-container--empty {
    filter: brightness(0.5);
}

.game-controls__card {
    display: block;
    width: 100%;
    height: 100%;
}

.game-controls__card-count-badge {
    position: absolute;
    top: 0;
    right: 1px;
    width: 1.25em;
    height: 1.25em;
}

.game-controls__card-count-badge-background {
    display: block;
    height: 100%;
}

.game-controls__card-count {
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    width: 100%;
    height: 100%;
    text-shadow:
        -0.5px -0.5px 1px #073158,
        0.5px -0.5px 1px #073158,
        -0.5px 0.5px 1px #073158,
        0.5px 0.5px 1px #073158;
    color: #fff;
    font-size: 0.875em;
    font-weight: 600;
}

.game-controls__players {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.game {
    background-color: rgb(50, 141, 192);
    position: absolute;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.generic-box {
    border-radius: 4px;
    background: linear-gradient(180deg, #fcfaf5, #e2d7c4);
    padding: 7px 7px 7px 14px;
}

.generic-box--faded {
    background: linear-gradient(180deg, #adadaa 0%, #a59d90 100%);
}

.player-info {
    height: 85px;
    font-size: 18px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 0;
    flex-direction: column;
}

.player-info--current-user {
    height: 7em;
    justify-content: flex-end;
    padding-top: 0.5em;
    padding-bottom: 0.75em;
}

.player-info__container {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    width: 100%;
    min-height: 0;
}

.player-info__badge {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    width: 5em;
}

.player-info__username {
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875em;
}

.player-info__username-large {
    margin: 0 auto;
    margin-bottom: -0.25em;
    padding-bottom: 0.25em;
    max-width: 45%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 1.2;
    white-space: nowrap;
    font-size: 1.25em;
}

.player-info__avatar-and-points {
    position: relative;
    margin-bottom: 0.5em;
}

.player-info__avatar {
    width: 2.25em;
    max-height: 2.25em;
    font-size: 1em;
    aspect-ratio: 1 / 1;

    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 0;

    margin: 0;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
}

.player-info__avatar--current-user {
    width: 4em;
    max-height: 4em;
}

.player-info__avatar-halo {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
}

.player-info__avatar-halo--green {
    background: radial-gradient(50% 50% at 50% 50%, #55ec36 0%, #52e833 22%, #4adb2b 44.8%, #3bc71c 68%, #28aa09 85.5%, #fff 89% 92.5%, #187c0a 96% 100%);
}

.player-info__avatar-halo--blue {
    background: radial-gradient(50% 50% at 50% 50%, #52b1cc 0%, #4fabcb 17.4%, #469bc8 39.9%, #3680c4 65.4%, #215bbe 85.5%, #fff 89% 92.5%, #0e2b87 96% 100%);
}

.player-info__avatar-halo--red {
    background: radial-gradient(50% 50% at 50% 50%, #ec6f66 0%, #ec6961 25%, #ec5652 49.4%, #ec393b 77.7%, #ec2128 85.5%, #fff 89% 92.5%, #9b192c 96% 100%);
}

.player-info__avatar-halo--orange {
    background: radial-gradient(50% 50% at 50% 50%, #fbb122 0%, #faad22 21.3%, #f9a022 43.4%, #f68c21 65.9%, #f26f20 85.5%, #fff 89% 92.5%, #c65305 96% 100%);
}

.player-info__avatar-image {
    padding: 15%;
    width: 100%;
    height: 100%;
    vertical-align: baseline;
    object-fit: cover;
    display: block;
}

.player-info__points {
    position: absolute;
    bottom: -0.25em;
    left: 50%;
    transform: translateX(-50%);

    display: inline-block;
    width: 2.25em;
}

.player-info__points--current-user {
    width: 4em;
    bottom: -1em;
}

.player-info__points-ribbon {
    display: block;
    width: 100%;
    height: 1.25em;
    object-fit: fill;
}

.player-info__points-ribbon--current-user {
    height: 2.5em;
}

.player-info__points-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    white-space: nowrap;
    font-size: 0.875em;
}

.player-info__cards {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.player-info__resources {
    position: relative;
    height: 3.25em;
}

.player-info__card {
    display: block;
    height: 100%;
}

.player-info__card-count-badge {
    position: absolute;
    top: 0;
    right: 1px;
    background-color: rgb(0, 114, 188);

    display: inline-block;
    border-top-left-radius: 0.1em;
    border-bottom-left-radius: 1.25em;
    border-bottom-right-radius: 0.1em;
    min-width: 1.25em;
    height: 1.25em;
}

.player-info__card-count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.1em 0.1em 0.2em;
    height: 100%;
    text-shadow:
        -0.5px -0.5px 1px #073158,
        0.5px -0.5px 1px #073158,
        -0.5px 0.5px 1px #073158,
        0.5px 0.5px 1px #073158;
    color: #fff;
    font-size: 0.875em;
    font-weight: 600;
}

.player-info__achievement {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    align-items: center;
    width: 3em;

    height: fit-content;
}

.player-info__achievement-container {
    display: flex;
    position: relative;
    align-items: center;
}

.player-info__achievement-container--current-user,
.player-info__cards--current-user {
    align-items: flex-end;
}

.player-info__achievement-image {
    width: 1.75em;
    vertical-align: middle;
}

.player-info__achievement-count {
    line-height: 1;
    font-size: 1em;
}
