body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #a1afda;
    color: #333;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.main-wrapper {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    width: 70%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 4px;
    justify-content: space-between;
}

.game-board__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-board__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board__options-menu {
    display: flex;
    flex-direction: column;
}

.game-board__options-button {
}

.game-board__trade-popup {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 350px;
}

.game-board__card-holder {
    width: 100%;
    height: 100px;
}

.game-controls {
    display: flex;
    background-color: black;
    width: 30%;
    height: 100dvh;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
}

.game-controls__log {
    display: flex;
    height: 250px;
    width: 100%;
}

.game-controls__chat {
    display: flex;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}

.game-controls__bank {
    display: flex;
    position: relative;
    gap: 7px;
    justify-content: space-between;
    width: 100%;
    user-select: none;
}

.game-controls__bank-row {
    display: flex;
    gap: 6px;
    align-items: flex-end;
    justify-content: center;
}

.game-controls__bank-icon {
    align-self: center;
    width: 42px;
    height: 42px;
}

.game-controls__card-stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: fit-content;
    height: 70px;
}

.game-controls__card-container {
    width: 41px;
    height: 57px;
    position: relative;
    margin-top: -51px
}

.game-controls__card-container--empty::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3);
    pointer-events: none;    
}

.game-controls__card {
    display: block;
    width: 100%;
    height: 100%;
}

.game-controls__card-count-badge {
    position: absolute;
    top: 0;
    right: 1px;
    width: 1.25em;
    height: 1.25em;
}

.game-controls__card-count-badge-background {
    display: block;
    height: 100%;
}

.game-controls__card-count {
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    width: 100%;
    height: 100%;
    text-shadow:
        -0.5px -0.5px 1px #073158,
        0.5px -0.5px 1px #073158,
        -0.5px 0.5px 1px #073158,
        0.5px 0.5px 1px #073158;
    color: #fff;
    font-size: 0.875em;
    font-weight: 600;
}

.game-controls__players {
    display: flex;
    height: 300px;
    width: 100%;
}

.game {
    background-color: #177fde;
    position: absolute;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.generic-box {
    border-radius: 4px;
    background: linear-gradient(180deg, #fcfaf5, #e2d7c4);
    padding: 7px 7px 7px 14px;
    border: 1px solid beige;
}
