body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #a1afda;
    color: #333;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.main-wrapper {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    width: 70%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 4px;
    justify-content: space-between;
}

.game-board__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-board__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board__options-menu {
    display: flex;
    flex-direction: column;
}

.game-board__options-button {
}

.game-board__trade-popup {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 350px;
}

.game-board__card-holder {
    width: 100%;
    height: 100px;
}

.game-controls {
    display: flex;
    background-color: black;
    width: 30%;
    height: 100dvh;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
}

.game-controls__log {
    display: flex;
    height: 250px;
    width: 100%;
}

.game-controls__chat {
    display: flex;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}

.game-controls__bank {
    height: 75px;
    display: flex;
    position: relative;
    gap: 7px;
    justify-content: space-between;
    width: 100%;
    user-select: none;
}

.game-controls__players {
    display: flex;
    height: 300px;
    width: 100%;
}

.game {
    background-color: #177fde;
    position: absolute;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.generic-box {
    border-radius: 4px;
    background: linear-gradient(180deg, #fcfaf5, #e2d7c4);
    padding: 7px 7px 7px 14px;
    border: 1px solid beige;
}
