@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    src: url("./assets/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: normal;
    src: url("./assets/fonts/OpenSans-Bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    src: url("./assets/fonts/OpenSans-Semibold-webfont.woff") format("woff");
}
