.layout {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 130px 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-row: 1 / -1;
    grid-column: 1;
    align-items: center;
    background: #1062b0;
    padding: 16px 0;
    overflow-y: auto;
}

.sidebar__logo {
    margin-bottom: 24px;
    cursor: pointer;
    padding: 0 8px;
}

.sidebar__logo-image {
    width: 90px;
    height: auto;
}

.sidebar__logo-link {
    display: block;
}

.sidebar__nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.sidebar__nav-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease;
    cursor: pointer;
    padding: 12px;
    text-decoration: none;
    color: #fff;
}

.sidebar__nav-item--active {
    background: #1e90ff;
}

.sidebar__nav-item:hover {
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff;
}

.sidebar__nav-image {
    width: 48px;
    height: 48px;
}

.sidebar__nav-label {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
}

.sidebar__footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 16px 8px;
    width: 100%;
}

.sidebar__language-button {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.sidebar__language-image {
}

.sidebar__language-label {
    cursor: pointer;
    text-transform: uppercase;
}

.header {
    display: flex;
    position: relative;
    grid-row: 1;
    grid-column: 2 / -1;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    max-width: 1100px;
    min-height: 80px;

    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.header__left {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header__profile {
    display: flex;
    align-items: center;
}

.header__profile-logged-in {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.header__profile-avatar {
    position: relative;
    width: 48px;
    height: 48px;
}

.header__profile-avatar-image {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.header__profile-username {
    margin: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.header__profile-karma {
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.875rem;
}

.header__right {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header__notifications {
    display: flex;
    height: fit-content;
}

.header__notifications-icon {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    width: 30px;
}

.header__notifications-image {
    height: 32px;
}
.header__notifications-count-container {
    display: flex;
    position: absolute;
    top: -20%;
    right: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ef3f2a;
    padding: 1px 5px;
}
.header__notifications-count {
    color: #fff;
    font-size: 0.75rem;
}

.lobby {
    display: flex;
    flex-direction: row;
    grid-row: 2;
    grid-column: 2;
    gap: 24px;
    align-items: stretch;
    margin-top: 0;
    padding: 0 24px;
    padding-bottom: 24px;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.lobby__left {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 18px;

    gap: 0.5rem;
    width: 300px;
}

.lobby__heading {
    margin-top: 0;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.5rem;
}

.lobby__player-list {
    margin: 0 -0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 0 1 60%;
}

.lobby__player {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px;
    min-height: 80px;
    margin-top: 4px;
}

.lobby__player:first-of-type {
    margin-top: 0;
}

.lobby__player--hover-enabled {
    cursor: pointer;
}

.lobby__player--hover-enabled:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.lobby__player-info {
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;

    margin-top: 0;
    display: flex;
}

.lobby__player-avatar {
    display: flex;
    gap: 4px;
    align-items: center;

    margin-top: 0;
}

.lobby__player-avatar-image {
    height: 28px;
    width: 28px;
}

.lobby__player-username-container {
    display: flex;
    flex-direction: column;
}

.lobby__player-username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.675rem;
    font-weight: bold;
}

.lobby__player-karma {
    margin: 0;
    cursor: default;
    font-size: 0.675rem;
    font-weight: normal;
}

.lobby__player-color {
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: default;
    padding: 0.2rem;
    width: fit-content;
}

.lobby__player-color--can-edit {
    background-color: rgba(0, 0, 0, 0.2);
}

.lobby__player-color-image {
    width: 17px;
    height: 17px;
}

.lobby__player-color-image:last-of-type {
    margin-left: 4px;
}

.lobby__player-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 3px;
    text-align: end;
    font-size: 0.875rem;
}

.lobby__player-actions-container {
    display: flex;
    gap: 4px;
}

.lobby__player-action {
    cursor: pointer;
}

.lobby__player-action-image {
    width: 20px;
    height: 20px;
}

.lobby__player-ready {
    text-align: end;
    font-size: 0.875rem;
}

.lobby__player-ready--ready {
    color: #48ff00;
}

.lobby__player-ready-label {
    font-weight: bold;
}

.lobby__middle {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 18px;

    flex-grow: 1;
}

.lobby__info-header {
    position: relative;
}

.lobby__info-exit-image {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.lobby__info-scroller {
    display: flex;
    position: relative;
    flex-flow: column;
    flex-grow: 1;
    gap: 4px;
    padding: 4px 16px 16px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.lobby__invite {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-evenly;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 8px 0;
}

.lobby__invite-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lobby__invite-title-heading {
    line-height: 1.5;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.lobby__invite-title-image {
    margin: 0 0 0 4px;
    cursor: pointer;
    height: 20px;
}

.lobby__invite-body {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 8px;
    width: fit-content;
    overflow: clip;
}

.lobby__invite-body-link {
    display: flex;
    align-items: center;
    border: 0;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0 16px;
    width: fit-content;
    color: inherit;
}

.lobby__invite-body-button {
    color: inherit;
    height: 40px;
    overflow: hidden;
    background-color: #1fab1c;
    background-size: contain;
    cursor: pointer;
    display: flex;
    position: relative;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease;
    z-index: 0;
    margin: auto;
    border: 0;
    border-radius: 0;
    padding: 0 16px;
    width: fit-content;
    text-decoration: none;
}

.lobby__invite-body-button:hover {
    background-color: #177f15;
}

// Review
.lobby__options {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: space-evenly;
}

.lobby__options-item-selection {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    padding: 4px;
    max-width: 100%;
    text-align: center;

    gap: 4px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    padding-right: 0;
    padding-left: 0;
}

.lobby__options-title-container {
    display: flex;
    gap: 4px;
    align-items: center;
}

.lobby__options-title {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
}

.lobby__options-title--settings {
    margin: auto;
}

.lobby__options-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 4px;
    width: 100%;
    max-width: 100%;
}

.lobby__options-scroller {
    width: 100%;
    height: auto;

    position: relative;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
}

.lobby__options-scroller-wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
    width: 0;
}

.lobby__options-scroller-wrapper--no-scroll {
    overflow-x: hidden;
    flex-wrap: wrap;
    width: 100%;
}

.lobby__options-scroller-wrapper--no-scroll .lobby__options-cell {
    flex: 1;
    gap: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.lobby__options-cell {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 16px;
    width: 7rem;
    height: 6rem;
    overflow: hidden;
    text-align: center;
}

.lobby__options-cell:hover:not(.lobby__options-cell--unavailable) {
    background-color: rgba(0, 0, 0, 0.2);
}

.lobby__options-cell--selected {
    border: 1px solid #fff;
    background-color: #1e90ff;
}
.lobby__options-cell--unavailable {
    cursor: not-allowed;
    background: rgba(255, 255, 255, 0.05);
}

.lobby__options-cell--unavailable .lobby__options-cell-image {
    opacity: 0.2;
}

.lobby__options-cell-image {
    height: 80%;
    object-fit: contain;
    user-select: none;
}

.lobby__options-cell-label {
    margin: 0;
    font-size: 0.75rem;
    user-select: none;
    text-align: center;
}

.lobby__options-settings {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 4px;
    max-width: 100%;
    text-align: center;
}

.lobby__options-subtitle {
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.5;
}

.lobby__options-arrow-selector {
    cursor: pointer;
    height: 16px;
}

.lobby__options-arrow-selector--rotated180 {
    transform: rotate(180deg);
}

.lobby__options-range-input {
    margin: 0;
    min-width: 100px;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
}

.lobby__options-settings-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-evenly;
}

.lobby__info-footer {
    margin: 0 -18px -18px;
    border-radius: 0 0 12px 12px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.lobby__start-container {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.lobby__start {
    font-weight: bold;
    display: inline-block;
}

.lobby__start-button {
    display: flex;
    position: relative;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease;
    z-index: 0;
    margin: auto;
    border: 0;
    border-radius: 8px;
    background-color: #1fab1c;
    background-size: contain;
    cursor: pointer;
    padding: 0 10px;
    width: 137px;
    height: 40px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.lobby__start-button:hover {
    background-color: #177f15;
}

.lobby__right {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 18px;
    width: 300px;
}

.lobby__right-header {
    display: flex;
    align-items: center;
}

.lobby__right-heading {
    margin: 0 auto;
    padding-right: 20px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
}

.lobby__message-container {
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
}

.lobby__message {
    margin-bottom: 0.25rem;
    border-radius: 4px;
    padding: 0 0.5rem;
    word-break: break-word;
}

.lobby__message-avatar {
    margin-right: 4px;
    vertical-align: text-bottom;
    height: 20px;
    width: 20px;
}

.lobby__message-username {
    font-weight: 600;
    word-break: break-all;
    color: #ffffff;
}

.lobby__message-form {
    display: flex;
    flex-direction: row;
}

.lobby__message-input {
    padding: 0.375rem 0.75rem;
    width: 100%;
    font-size: 12px;
    margin: 0;
    line-height: inherit;
    font-family: inherit;
}

.lobby__message-submit {
    margin: 0;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
}

.lobby__message-submit-image {
    width: 12px;
    filter: invert(1);
}
